<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535591592319-ivjaen0ipfvab96ihatns57vcc7lr8ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535591592319-ivjaen0ipfvab96ihatns57vcc7lr8ed</string>
	<key>API_KEY</key>
	<string>AIzaSyB7myeRrSPwNa62faYkk1_XR7OjIDc4I84</string>
	<key>GCM_SENDER_ID</key>
	<string>535591592319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OlwaStd.VKApp</string>
	<key>PROJECT_ID</key>
	<string>vkappgeekbrains</string>
	<key>STORAGE_BUCKET</key>
	<string>vkappgeekbrains.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535591592319:ios:bc6f5de6003c5467c9ba4a</string>
</dict>
</plist>